body{
    background-image: url('../media/body.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#body1{                                                                     /*partie au milieu*/
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -1%;
}
#head{                                                                       /*liste et heure*/
    padding-top: 2%;
}
#date{
    margin-left: 60%;
    margin-top: -2%;
}
#list{
    background: linear-gradient(90deg,#8d1a17,#181733);
    border-radius: 10%;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 2.5%;
}
#img1{
    width: 10%;
    height: 10%;
    margin-top: -5%;
    margin-left: 4%;
}
#list1{
    list-style-type: none;
    margin-left: 9%;
    margin-top: -4%;
    padding-bottom: 2%;
}
.l1{
    display: inline;
    margin-left: 6%;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.l1:hover{
    background-color: red;
}
#b{
    margin-left: 50%;
    margin-top: 1%;
}
li a{
    color: white;
    text-decoration: none;
}
li:hover{
    font-size: 20px;
}
h1{
    text-align: center;
}
.red{
    height: 14em;
    background: linear-gradient(90deg,#8d1a17,#181733);
    margin-left: 10%;
    margin-right: 10%;
}
.left{
    padding-right: 230px;
    padding-bottom: 65px;
    margin-left: -2px;
    position: absolute;
}
.center{
    margin-left: 505px;
    text-align: center;
    padding-right: 10%;
    position: absolute;
   
}

h3{
    text-align: center;
}
input[type=radio] {
    margin-left: 150px;
}
.s3{
    margin-left: 150px;
    padding-top: 20px;
}
p{
    text-align: center;
    margin-left: 120px;
}
.h1{
    margin-left: 150px;
}
.h2{
    margin-left: 150px;
}
#image{
    text-align: center;
}
embed{
    width: 70%;
    height: 500px;
}
#image1{
    text-align: center;
}
footer{
    background-color: #181733;
    margin-top: 10%;
    margin-bottom: -2%;
}
#list2{
    list-style-type: none;
    color: white;
    padding-top: 5%;
    margin-left: 2%;
    font-size: large;
    margin-right: 50%;
}
.L2{
    margin-top: 1%;
}
#img6{
    width: 5%;
    margin-top: 5%;
    margin-left: 5%;
    
}
#img7{
    width: 3%;
    margin-left: 40%;
    top: -3%;
    padding-right: 1%;
}
#p6{
    margin-left: 46.5%;
    margin-top: -10%;
    color: white;
    font-size: medium;
}
.img8{
    width: 6%;
    margin-left: 40%;
    margin-top: 3%;
    padding-right: 1%;
}
.p7{
    margin-left: 45%;
    margin-top: -2%;
    color: white;
    font-size: medium
}
h4{
    color: white;
    font-weight: bolder;
    margin-left: 12%;
    margin-top: -3%;
}
#p8{
    text-align: center;
    color: white;
    padding-bottom: 2%;
}
li a{
    color: white;
    text-decoration: none;
}
li:hover{
    font-size: 20px;
}
#b{
    margin-left: 50%;
    margin-top: 1%;
}
#canevas{
    margin-left:95px;
}
#barca{
        width: 350px;
        height: 180px;
        background: linear-gradient(#f7f7f7d3,#FFFFFF);
        padding: 5px 0px 40px 0px;
        border-radius: 20px;
        margin-left: 35%;
}